<div class="row">
<div class="col-md-4"><p>Sugar plum gummi bears jujubes wafer. Cake muffin cookie lollipop lollipop cake chocolate bar cake lollipop. Cupcake cotton candy cake chocolate cake. Sesame snaps pie jelly jelly-o. Powder gingerbread cupcake jujubes candy bonbon. Pie lollipop sesame snaps. Brownie candy gummi bears topping. Chocolate cake icing toffee. Fruitcake muffin dessert tootsie roll chocolate cake topping sugar plum. Bonbon oat cake jujubes lemon drops candy canes apple pie tiramisu. Croissant pie lemon drops. Biscuit dragée chupa chups dragée. Chocolate jelly-o tootsie roll. Sugar plum bear claw cookie.</p>
<!--  Add an About the Developer section here. -->
</div>
<% if !@error.nil? %>
    <p><%= @error %></p>
<% end %>
<form class="col-md-3" action="/" method="post">
<div class="form-group">
<label for="birthdate">Enter your birthdate</label>
<input class="form-control" name="birthdate" type="text"/>
</div>
<input class="btn btn-primary btn-sm" type="submit"/>
</form>
</div>

